<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708450592589-rvn5uq9koovrkmagmurcl5rcq4d82khk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708450592589-rvn5uq9koovrkmagmurcl5rcq4d82khk</string>
	<key>API_KEY</key>
	<string>AIzaSyDN8TP6m-BkD1_aZDAxbVFtyGhSb9yhu6M</string>
	<key>GCM_SENDER_ID</key>
	<string>708450592589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BachhhNguyen.AsteraX</string>
	<key>PROJECT_ID</key>
	<string>x-asterax</string>
	<key>STORAGE_BUCKET</key>
	<string>x-asterax.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708450592589:ios:1ded6c2e4f338707fcb904</string>
	<key>DATABASE_URL</key>
	<string>https://x-asterax-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>